
.profile-container{
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-top: 70px;
    background-color: rgb(237, 237, 244);
}
.user-item{
    text-align: center;
}
.user-item span{
    font-size: 50px;
}
.p-user-pic{
    width: 300px;
    height: 300px;
    border-radius: 150px;
    border:4px solid #1877f2;
}
.user-friends{
    background-color: whitesmoke;
}
.f-card{
    margin: 5px;
    background-color: white;
    width: 110px;
    border-radius: 5px;
    border:1px solid blue;
}
.f-image{
    padding: 5px;
}
.f-image img{
    width:100px;
    height: 100px;
    border-radius: 5px;
    box-shadow: 0px 0px 1px  black;
}
