
.chat-page{
    display: flex;
    width: 100vw;
    height: 100vh;
}
.chat-left{
    padding-top: 70px;
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    width: 25vw;
    height: 100vh;
    background-color: rgb(239, 241, 245);
    box-shadow: 0px 0px 2px black ;
    z-index: 11;
    cursor: pointer;
}
#chat-right{
    margin-top: 50px;
    background-color: rgb(216, 242, 244);
}

/* chat left css*/
.l-s-m-item{
    display: flex;
    align-items: center;
    background-color:#fff;
    width: 90%;
    height: 50px;
    border-radius: 5px;
    margin: 2px;
    padding: 10px;
}
.l-s-m-item:hover{
    box-shadow: 0px 0px 3px rgb(146, 144, 144);
}
.l-s-m-item img{
    width: 50px;
    height: 50px;
    border-radius: 25px;
}
.l-s-m-item span{
    padding-left: 20px;
    font-size: 20px;
}