.left-sidebar{
    height: 100%;
    background-color: rgb(239, 241, 245);
    position: fixed;
    width:25%;
    margin: 0px;
}
.l-s-heading{
    text-align: center;
    font-size: 30px;
}
.l-s-contacts{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.l-s-item{
    display: flex;
    align-items: center;
    background-color:#fff;
    box-shadow:0px 0px 3px rgb(200, 200, 249) ;
    z-index: 3;
    width: 80%;
    height: 50px;
    border-radius: 5px;
    margin-left:0px ;
    margin: 3px 0px;
    padding: 4px;
    padding-left: 20px;
    cursor: pointer;
}
.l-s-item:hover{
    
    box-shadow: 0px 0px 3px #1877f2;
}
.l-s-item span{
    padding-left:20px;
}

.l-s-item img{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    
}