.right-bar{
    background-color: rgb(239, 241, 245);
    margin-left: 75%;
    width: 25%;
    overflow: hidden;
}
.r-b-user{
    display: flex;
    align-items: center;
    justify-content: center;
}
.r-b-user img{
    border-radius: 25px;
    height: 50px;
    width: 50px;
}
.r-b-user span{
    padding-left: 10px;
}
.r-b-options{
    width: 25vw;
    text-align: center;
}
.r-b-item button{
    cursor: pointer;
    padding: 9px 14px;
    background-color: #1877f2;
    color:white;
    border-radius: 5px;
    border:2px solid rgb(239, 241, 245);
}
.r-b-item button:hover{
    background-color: white;
    color:#1877f2;
    border: 2px solid #1877f2;
}