.chatting-body{
    margin-left: 25vw;
    margin-top: 10px;
    width: 75vw;
    background-color:rgb(216, 242, 244);
}
/* chat-user-header */
.user-header{
    display: flex;
    width: 100%;
    align-items: center;
    position: fixed;
    z-index: 10;
    background-color:#2179ec;
    padding: 8px;
    box-shadow: 0px 0px 3px black;
}
.user-header img{
    width: 50px;
    height: 50px;
    border-radius: 25px;
}
.user-header span{
    padding: 10px;
    font-size: 20px;
    color:white

}

/* message container */
.chat-p-message{
    margin-top: 65px;
    margin-bottom: 65px;
}
.sender-message-container{
    float: right;
    background-color: #1877f2;
    color: white;
    margin: 3px;
    margin-right: 20px;
    border-radius: 5px;
    display: flex;
}
.s-m-message{
    padding: 10px;
}
.s-m-t{
    position:relative;
    width: 50px;
}
.s-m-time{
    position: absolute;
    bottom: 5px;
    right: 5px;
    white-space: nowrap;
    color:rgba(234, 232, 232, 0.853);
    font-size:10px;
    font-weight: bold;
}
.reciever-message-container{
    float: left;
    background-color: white;
    color: #151515;
    margin: 3px;
    margin-left: 10px;
    display: flex;
    border-radius: 5px;
}
.r-m-message{
   padding: 10px;
}
.r-m-t{
   position: relative;
   width: 60px ;
}
.r-m-time{
    position: absolute; 
    color:#434343a8;
    right: 5px;
    bottom: 5px;
    font-size: 10px;
    white-space: nowrap;
    font-weight: bold;
}

/* chat-input  */
.chat-input{
    position: fixed;
    background-color: rgb(216, 242, 244);
    width:75vw;
    bottom: 0px;
    padding: 10px;
    white-space: nowrap;
}
.chat-input input{
    border: none;
    width:60vw;
    height: 25px;
    border-radius:5px ;
}
.chat-input input:focus{
    border: none;
    outline: none;
}

.chat-input button{
    margin-left: 10px;
    padding: 9px 14px;

}
